{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}

{% extends "_base.jinja" %}

{% block content %}

<div class="task-details">

    <a href="/tasks">← Back to tasks</a>

    <h1>{{ task.task_name }}</h1>

    <p>
        <strong>Topic:</strong>
        {{ task.topic_name }}
    </p>

    <p>
        <strong>Description:</strong>
        {{ task.description }}
    </p>

    <p>
        <strong>Estimated time:</strong>
        {{ task.est_time }}
    </p>

    <p>
        <strong>Complete by:</strong>
        {{ task.complete_by }}
    </p>

    <p>
        <strong>Urgency:</strong>
        {{ task.urgency }}
    </p>

    <p>
        <strong>Members:</strong>
        {{ task.members }}
    </p>

</div>

{% endblock %}



