{#=====================================================
  Base template
  - Used as the basis of all pages
=====================================================#}
{% extends 'pages/_base.jinja' %}


{% block content %}

    <section id="tasks">

        {% for task in tasks %}

            <div class="task">
                    <p>{{ task.topic_name}}</p>
                    <p>{{ task.task_name }}</p>
                    <p>{{ task.task_urgency }}</p>
            </div>

        {% else %}

            <p>No Tasks Left!</p>

        {% endfor %}

    </section>

{% endblock %}