{#=====================================================
  New creaure form page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

  <h2>Add Task</h2>
  
  <form method ="post" action="/task/new">

      <label>

        Topic
        <input type="text" name="topic" required>

      </label>

      <label>

        Name
        <input type="text" name="name" required>

      </label>

      <label>

        Description
        <input type="text" name="description" required>

      </label>
      <label>

        Estimate Task Time
        <input type="integer" name="est_task_time" required>

      </label>
      <label>

        Date To Be Completed
        <input type="integer" name="complete_by" required>

      </label>
      <label>

        Urgency
        <input type="integer" name="urgency" required>

      </label>
      <button>Add</button>

  </form>

{% endblock %}


