/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:          #111;
    --text-col-light:    #fff;

    --back-col:          #56D8B1;
    --back-col-dark:     #094C38;
    --back-col-med:      #478E78;    

    --accent-col:        #D43565;
    --accent-col-dark:   #8F2243;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--accent-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Notes --------------------------------------------------*/

#tasks {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    align-items: start;

    .task {
        padding: 1rem;
        box-shadow: 0 0.5rem 1rem #0004;
        border: 1px solid var(--border-col);
        background-color: var(--back-col-panel);
        }
    }
}

