/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:          #111;
    --text-col-light:    #fff;

    --back-col:          #56D8B1;
    --back-col-dark:     #094C38;
    --back-col-med:      #478E78;    

    --accent-col:        #D43565;
    --accent-col-dark:   #8F2243;
}


/* Overall Layout -----------------------------------------------*/

html {
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
    margin: 0.5rem;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--back-col-dark);
    border-radius: 10px 10px 10px 10px;

    nav {
        display: flex;
        gap: 1rem;

        a {
            color: var(--text-col-light);
        }
    }

    h2 {
        display: flex;
        text-align: center;
        color: var(--text-col-light);
    }
}


/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Notes --------------------------------------------------*/

#tasks {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    align-items: start;
    background-color: var(--back-col);
    padding:1.5rem;

    .task {
        padding: 0.75rem;
        box-shadow: 0 0.5rem 1rem #0004;
        border: 1px solid var(--border-col);
        background-color: var(--accent-col);
        border-radius:20px 0px 20px 0px;

        display:flex;
        align-items:center;

        color: var(--text-col-light);
        font-family:sans-serif;
        font-weight:600px;

        p{
            margin:auto;
        }
        a{
            text-decoration: none;
            color:var(--text-col-light);
            font-size:xx-large;
        }
    }
}
